<div class="row-wrapper">
	<div class="outer-container">
		<h1>Chef config</h1>
		<h2>Cookbooks recipies</h2>
		<% @cookbooks.each do |c| %>
			<fieldset class="expander">
				<a href="javascript:void(0)" class="expander-trigger expander-hidden">
					<%= c.name %>
					<span class="badge-notice">0/<%= c.recipes.size %></span>
				</a>
				<div class="expander-content cookbook-recipes-container">
					<%= c.recipes.join(', ') %>
				</div>
			</fieldset>
		<% end %>
		<hr/>
		<h2>Cookbooks parameters</h2>
		<form method="post" action="/">
			<% @cookbooks.each do |c| %>
				<fieldset class="expander">
					<a href="javascript:void(0)" class="expander-trigger expander-hidden cookbook-name">
						<%= c.name %>
						<span class="badge-notice">0/<%= c.attributes.size %></span>

					</a>
					<div class="expander-content cookbook-parameters-container">
						<div class="cookbook-parameters">
							<% c.attributes.each do |a| %>

								<label for="name"><%= a[:param] %></label>
								<input id="name" name="<%= a[:param].delete "'" %>" type="text" placeholder="<%= a[:value] %>">
							<% end %>
						</div>
					</div>
				</fieldset>
			<% end %>
    	<input type="submit">
		</form>
	</div>
</div>

<script>
$(document).ready(function() {
	$('.expander-trigger').click(function(){
		$(this).toggleClass("expander-hidden");
	});
});

</script>
